$color-rosa-fondo:#f8cce0;
$color-rosa-footer:#df8aac;
$color-dorado:#d4af37;
$color-dorado-oscuro:#7d6516;


$fuente-principal: 'Roboto', sans-serif; 
$fuente-elegante: 'Playfair Display', serif;
$color-texto:#2a2a2a;